html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 3em 0 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: #666;
  text-align: center;
}
  

figure{
  display :inline-block;
  position: relative;
  margin: 2em auto;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 8px;
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  padding: 1.5em 2em;
  min-width: calc(40vw + 4em);
}
  

  .echarts{
/* width: 40vw;*/
    width :100%;
    min-width: 400px;
    height: 300px;
  }

figure.half{
padding: 1em 1.5em;
    min-width: calc(240px + 3em);
}
    

  figure{
width: 100vw;
    margin: 1em auto;
    padding: 0 1em;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

    .echarts{
width :100%;
      min-width: 0;
      height: 75vw;
    }